<div class="container mt-4 title">
    <div class="row">
        <div class="col">
            <h1>
                <i class="fa-solid fa-pen"></i> Edit Contact Page
            </h1>
            <p style="text-align: justify;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa officia asperiores ab modi illum incidunt
                harum eaque rem architecto doloremque doloribus nobis temporibus commodi, velit quibusdam rerum
                accusantium minus adipisci. Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa officia
                asperiores ab modi illum incidunt
                harum eaque rem architecto doloremque doloribus nobis temporibus commodi, velit quibusdam rerum
                accusantium minus adipisci.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form>
                    <div class="mb-2">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="mb-2">
                        <input type="text" class="form-control" placeholder="Photo">
                    </div>
                    <div class="mb-2">
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="mb-2">
                        <input type="text" class="form-control" placeholder="Phone number">
                    </div>
                    <div class="mb-2">
                        <input type="text" class="form-control" placeholder="Company Name">
                    </div>
                    <div class="mb-2">
                        <input type="text" class="form-control" placeholder="title">
                    </div>
                    <div class="mb-2">
                        <select name="" id="" class="form-control">
                        <option value="">Select a Group</option>
                        </select>
                    </div>
                    <div class="mb-2">
                        <input value="update" type="button" class="btn btn-success" placeholder="Name">
                        <a routerLink="/" class="btn btn-warning ms-3">Close</a>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <img src="https://i.pinimg.com/736x/de/59/4e/de594ec09881da3fa66d98384a3c72ff.jpg" alt="" class="contact-image">

            </div>
        </div>
    </div>
</div>
